@model EntityLayer.Concrete.Writer


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Yazar Kayıt Sayfası</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Adınız Soyadınız</label>
                            <input asp-for="WriterName" class="form-control" />
                            <span asp-validation-for="WriterName"></span><br />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mail Adresi</label>
                            <input asp-for="WriterMail" class="form-control" />
                            <span asp-validation-for="WriterMail"></span><br />

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Şifre</label>
                            <input asp-for="WriterPassword" class="form-control" />
                            <span asp-validation-for="WriterPassword"></span><br />

                        </div>
                        <div class="form-group col-md-6">
                            <span asp-validation-for="WriterImage"></span><br />
                            <label>Görsel Dosya Yolu</label>
                            <input asp-for="WriterImage" class="form-control" />


                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                    <p>
                        <a href="#">Tüm Şartları Okudum Kabul Ediyorum</a>
                    </p>


                }
            </div>
        </div>
    </div>
</section>

